# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [8]:
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month
df['day'] = pd.DatetimeIndex(df['date']).day

In [9]:
# Set the date column as the DataFrame index
df_dateindex = df.set_index('date')

In [10]:
# Drop the date column
df_dateindex.head()

                station  prcp  tobs  year  month  day
date
2010-01-01  USC00519397  0.08    65  2010      1    1
2010-01-02  USC00519397  0.00    63  2010      1    2
2010-01-03  USC00519397  0.00    74  2010      1    3
2010-01-04  USC00519397  0.00    76  2010      1    4
2010-01-06  USC00519397   NaN    73  2010      1    6

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [22]:
# Filter data for desired months
june_df = df.query('month == 6')
dec_df = df.query('month == 12')

         station       date  prcp  tobs  year  month  day
305  USC00519397 2010-12-01  0.04    76  2010     12    1
306  USC00519397 2010-12-03  0.00    74  2010     12    3
307  USC00519397 2010-12-04  0.00    74  2010     12    4
308  USC00519397 2010-12-06  0.00    64  2010     12    6
309  USC00519397 2010-12-07  0.00    64  2010     12    7

In [19]:
# Identify the average temperature for June
june_df.groupby('station')['tobs'].mean()

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [23]:
# Identify the average temperature for December
dec_df.groupby('station')['tobs'].mean()

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis